/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Inter:wght@400;700&display=swap'); */

@tailwind base;
@tailwind components;
/* @tailwind utilities; */

h1 {
  font-size: 2rem;
  text-align: center;
}

.MuiDataGrid-iconSeparator {
  cursor: col-resize
}

#column-resize-bar {
  position: absolute;
  background-color: grey;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50;
  z-index: 2;
}