/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Inter:wght@400;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
  text-align: center;
}

.MuiDataGrid-iconSeparator {
  cursor: col-resize;
}

/* 
background-color: var(--mui-palette-grey-50); */
/* .CSVImporter_FileSelector {
  border: none !important
} */

.CSVImporter_FormatRawPreview__scroll {
  height: 100% !important;
}